<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/a0/d1/ac/a0d1acc80d263fa987cdb6720f2c1642.jpg" style="margin:auto;">
      <div class="carousel-caption">
        <h2>Karambit</h2>
      </div>
    </div>
    <div class="item">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/a0/d1/ac/a0d1acc80d263fa987cdb6720f2c1642.jpg" alt="this is a test" style="margin:auto;">
      <div class="carousel-caption">
        <h2>Marble Fade Flip Knife</h2> 
      </div>
    </div>
    <div class="item">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/a0/d1/ac/a0d1acc80d263fa987cdb6720f2c1642.jpg" alt="this is a test" style="margin:auto;">
      <div class="carousel-caption">
        <h2>Marble Fade Flip Knife</h2> 
      </div>
    </div>
  </div>
</div>

<h1>About me page</h1>
<p>This is a page about me</p>
